* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

<% if (framework !== 'angular2') { %>
{%= include('../views/game/components/table/table.css')%}
{%= include('../views/game/components/table/box/box.css')%}
<% } %>
