* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

<% if (framework !== 'angular2' && framework !== 'webcomponents') { %>
@import '../views/game/components/table/table.style.css';
@import '../views/game/components/table/box/box.style.css';
<% } %>
