include components/_mixins
doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title <%= general.project %>
        meta(content='' description='')
        //- link(href='favicon.ico' rel='shortcut icon')
        link(href='css/main.css' rel='stylesheet')

    body
        ss-table

        +script-dist()
            {%= getRoutes('components', '.jsx', false, `script(src='$TPL$')`, '            ') %}