include components/_mixins
doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title <%= general.project %>
        meta(content='' name='description')
        //- link(href='favicon.ico' rel='shortcut icon')
        link(href='components.html' rel='import')

    body
        +table()