<div className='table'>
    <ss-line>
        <Box parentState={this.state}></Box>
        <Box parentState={this.state}></Box>
        <Box parentState={this.state}></Box>
    </ss-line>

    <ss-line>
        <Box parentState={this.state}></Box>
        <Box parentState={this.state}></Box>
        <Box parentState={this.state}></Box>
    </ss-line>

    <ss-line>
        <Box parentState={this.state}></Box>
        <Box parentState={this.state}></Box>
        <Box parentState={this.state}></Box>
    </ss-line>
</div>