ss-box {
    display: block;

    .box {
        align-items: center;
        border: 1px solid #666;
        cursor: pointer;
        display: flex;
        height: 100px;
        justify-content: center;
        text-align: center;
        width: 100px;

        span {
            font-family: arial;
            font-size: 30px;
        }
    }
}