doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title <%= project %>
        meta(content='' name='description')
        //- link(href='favicon.ico' rel='shortcut icon')
        link(href='main.html' rel='import')

    body
        ss-table
            .table
                .line
                    ss-box
                    ss-box
                    ss-box

                .line
                    ss-box
                    ss-box
                    ss-box

                .line
                    ss-box
                    ss-box
                    ss-box
