script(src='commons.js')
script(src='main.js')

link(href='css/main.css' rel='stylesheet')

include:html-beautify ../bower_components/Polymer/polymer-micro.html
include:html-beautify ../bower_components/Polymer/polymer-mini.html
include:html-beautify ../bower_components/Polymer/polymer.html

link(href='views/game/components/table/box/box.component.html' rel='import')
