include box/box

mixin table()
    ss-table
        .table
            .line
                +box()
                +box()
                +box()

            .line
                +box()
                +box()
                +box()

            .line
                +box()
                +box()
                +box()
