:host {
    display: block;
}

:host .box {
    align-items: center;
    border: 1px solid #666;
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
    width: 100px;
}

:host .box span {
    font-family: arial;
    font-size: 30px;
}