<%= (framework !== 'angular2') ?
'ss-table' : ':host' %> {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

<%= (framework !== 'angular2') ?
'ss-table' : ':host' %>
.table {
    height: 300px;
    width: 300px;
}

<%= (framework !== 'angular2') ?
'ss-table' : ':host' %>
.line {
    display: flex;
}
