doctype html
html(lang='es')
    head
        base(href='/')
        meta(charset='utf-8')
        title <%= project %>
        meta(content='' description='')
        link(href='favicon.ico' rel='shortcut icon')
        link(href='css/main.css' rel='stylesheet')

    body
        sd-app Loading...

        script(src='vendor.js')
        script(src='commons.js')
        script(src='main.js')
