<!DOCTYPE html>
<html lang="es" ng-app="multi" ng-controller="MainCtrl as mainCtrl">

<head>
    <meta charset="utf-8">
    <title>
        <%= project %>
    </title>
    <meta content="" description="">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <ss-table></ss-table>
    <!---->
    <!--build:js js/all.js-->
    <script src="vendor/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
    {%= getRoutes('components', '<%= compilerExt %>', false, `<script src="$TPL$"></script>`) %}
    <!-- endbuild-->
</body>

</html>